.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image1 {
  height: 50vh;

  margin: 20px;
}
.card-container {
  background-color: #ffffff;
  height: 80vh;
  width: 70%;
  border-radius: 10px;
}
.image-container {
  height: 50vh;

  background-size: cover;
}
.bottom-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: bold;
  margin-left: 40px;
}
.para {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 40px;
  font-weight: normal;
}

.list-container {
  list-style-type: none;
}
.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image {
  height: 5vh;
  width: 4vw;
  margin: 6px;
  border-radius: 5px;
}
.button {
  background-color: #ffffff;
  border-width: 0px;
}
